{% extends 'restaurant/base_rastaurant.html' %}
{% load bootstrap4 %}



{% block content %}
    <div class="offset-lg-2 col-lg-8">
        <div class="card">
            <div class="card-header bg-blue">
                <h4 class="card-title text-center text-white">
                    Account
                </h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form user_form %}
                    {% bootstrap_form restaurant_form %}
                    <button type="submit" class="btn btn-orange">Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}