{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--custom css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--js-->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}

</head>
<body class="bg-blue">

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">

                <div class="card mb-3 card-body">
                    <div class="card-body">
                        <h3 class="text-center text-uppercase"><b>{% block heading %}{% endblock %}</b></h3>
                        <br/>
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>